<header style="margin-bottom: 0px">
  <div class="container">
    <div style="display:flex;align-items:center;gap:10px">
      <img src="https://avatars.githubusercontent.com/u/10117818?s=64&v=4" style="border-radius:50%;width:40px;height:40px;">
      <a id="a-title" href="{{ '/' | relative_url }}">
        <h1 style="margin: 0;">{{ site.title | default: site.github.repository_name }}</h1>
      </a>
    </div>
    <h2>{{ site.description | default: site.github.project_tagline }}</h2>
  </div>
</header>
