<style>
  div.sidebar {
    overflow: unset;
    min-width: 150px;
    margin: 20px;
  }
  div.container {
    max-width: unset;
    display: flex;
    width: 100%;
  }
  header > div.container {
    display: block;
    width: 90%
  }
  div.content{
    padding-left: 10px;
    padding-right: 24px;
    border-left: thin dashed #b5e853;
    border-right: thin dashed #b5e853;
    margin-left: 30px;
    min-height: 100vh;
  }
  @media screen and (max-width: 700px) {
    div.content{
    padding-left: 0px;
    border-left: none;
    margin-left: 30px;
    }
  }
  p > img {
    padding: 10px;
  }
  aside.toc-sidebar {
    min-width: 250px;
    text-decoration-line: none;
  }
  ul#markdown-toc {
    font-size: 80%;
/*    float: right;*/
    width: 250px;
/*    background: #111;*/
    padding: 1rem;
/*    border-left: 3px solid lime;*/
    margin: 0 0 1rem 2rem;
    font-size: 0.9rem;
    position: sticky;
    top: 1rem;
/*    max-height: 90vh;*/
/*    overflow-y: auto;*/
  }
</style>

{% include head.html %}
  <body>
    {% include header.html %}
    <div class="container">
      {% include wiki-sidebar.html %}
      <div class="content">
        <section id="main_content">
          {{ content }}
        </section>
      </div>
      <aside id="toc-sidebar">
      </aside>
    </div>
    {% include footer.html %}
  </body>
<script>
var element = document.getElementById('markdown-toc');
var destination = document.getElementById('toc-sidebar');
destination.appendChild(element);
</script>
