<style>
  div.sidebar {
    overflow: unset;
    min-width: 150px;
    margin: 20px;
    position: sticky;
    top: 9rem;
  }
  div.container {
    max-width: unset;
    display: flex;
    width: 100%;
  }
  header > div.container {
    display: block;
    margin-left: 250px;
/*    width: 50%*/
  }
  div.content{
    padding-left: 10px;
    padding-right: 24px;
    border-left: thin dashed #b5e853;
    border-right: thin dashed #b5e853;
    margin-left: 30px;
    min-height: 100vh;
    max-width: 60%;
    min-width: 50%;
  }
  @media screen and (max-width: 700px) {
    div.content{
    padding-left: 0px;
    border-left: none;
    margin-left: 30px;
    }
  }
  p > img {
    padding: 10px;
  }
  #toc-sidebar {
    max-width: 250px;
  }
  #toc-sidebar a {
    text-decoration-line: none;
  }
  ul#markdown-toc {
    font-size: 80%;
/*    float: right;*/
    width: 250px;
/*    background: #111;*/
    padding: 1rem;
/*    border-left: 3px solid lime;*/
    margin: 0 0 1rem 2rem;
    font-size: 0.9rem;
    position: sticky;
    top: 9rem;
/*    max-height: 90vh;*/
/*    overflow-y: auto;*/
  }
  kbd {
    display: inline-block;
    line-height: 10px;
    vertical-align: middle;
    border: solid 1px #eee;
    border-radius: 6px;
    font-family: "Monaspace Neon", ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
    font-size: 13px;
    box-shadow: rgba(61, 68, 77, 0.7) 0px -1px 0px 0px inset;
    padding: 0.25 rem;
  }
</style>

{% include head.html %}
  <body>
    {% include header.html %}
    <div class="container">
      {% include wiki-sidebar.html %}
      <div class="content">
        <section id="main_content">
          {{ content }}
        </section>
      </div>
      <div id="toc-sidebar">
      </div>
    </div>
    {% include footer.html %}
  </body>
<script>
var element = document.getElementById('markdown-toc');
var destination = document.getElementById('toc-sidebar');
destination.appendChild(element);
</script>
